<?xml version="1.0" encoding="UTF-8"?>
<!--
~ This is free and unencumbered software released into the public domain.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:sec="http://www.springframework.org/schema/security"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security.xsd">
    
       
    <!--bean id="filmDao" class="com.elephorm.formation.core.repository.JDBCFilmDao" name="dao">
           <constructor-arg value="com.mysql.jdbc.Driver"/>
       </bean-->
       
<bean id="inFilmDao" class="com.elephorm.formation.core.repository.InMemoryFilmDao">
<property name="films">
    <list>
       <bean class="com.elephorm.formation.core.entity.Film">
           <property name="titre" value="Insertion par SPRING1"/>
       </bean>        
        <bean class="com.elephorm.formation.core.entity.Film">
           <property name="titre" value="Insertion par SPRING2"/>
       </bean>        
    </list>

</property>
</bean>
    <!--bean id="filmDao" class="com.elephorm.formation.core.repository.HibernateFilmDAO"/-->
           
       
        

    <bean id="filmService" class="com.elephorm.formation.core.service.FilmService" autowire="byType">
       <!--constructor-arg ref="filmDao"/-->
       </bean>
       
       <!--bean id="filmService2" class="com.elephorm.formation.core.service.FilmService">
       <property name="dao" ref="filmDao"/>
       </bean-->
       
       
       <bean id="filmController" class="com.elephorm.formation.core.controller.DefaultFilmController">
        <property name="service" ref="filmService"/>
       </bean>
</beans>