@charset "UTF-8";
/*abbr,article,aside,audio,canvas,datlist,details,figure,dialog,footer,header,hgroup,mark,menu,meter,mark,nav,output,progress,section,time,video {display:block;}*/
body{
background-color:#ddd;
/*background-image: url(grille_100.png);*/
}
#conteneur{
width:960px;
margin: 0 auto;
}

h1,h2{
	color:#69f;
	}

#droite, #article, #piedcontenu, #menu ul{
	background-color:white;
	}


	
#menu{height: 35px;width:100%;}
ul{
	background: #838383;
	overflow:auto;
}
	
	/*
#menu ul{
	list-style-type:none;
	margin:0;
	padding:0;
	width:960px;
	height:40px;
	background-color:#ddd;
	}
*/
/*#menu li{float:left;}*/
#menu a{
	padding-left: 10%;
	height: 35px;
	line-height: 35px;
	color:#3c76fa;
	font-size: 14px;
	background: transparent;
}

nav a:hover{
	background: orange;

}


.cellules{
	display:block;
	width:159px;
	
	text-decoration:none;
	text-align:center;
	border-right:solid 1px #999;

	}